.home {
    width: 100%;
    height: 100%;
    font-family: sans-serif
}

.header {
    width: 100%;
    height: 84px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 20px;
    ;
}

.pages {
    display: flex;
    flex-direction: row;
    padding: 100px;
}

.pageName {
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
    padding: 10px;
}

.homeBodyContent {
    width: 100%;
    height: 500px;
    background-image: url('../../Images/HomeBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.Letsgobutton {
    width:fit-content;
    padding: 10px;
    height: 30px;
    background: #F0C029;
    border-radius: 40px;
    border: none;
}

.homeAboutRow {
    display: flex;
    flex-direction: row;

}

.homeAboutContent {
    width: 100%;
    padding: 80px;
    display: flex;
    font-size: 14px;
    font-weight: 400;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    line-height: 20px;
    align-content: flex-start;
    text-align: left;
}

.homeAboutContentHeader {
    color: #F0C029;
}

.homeAboutImage {
    width: 100%;
    padding: 20px;
}

.image1outline {
    border: none;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image1 {
    width: fix;
    height: 400px;
    border-radius: 10px;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.homeSpecialStory {
    background-image: url('../../Images/specialStory.jfif');
    background-repeat: no-repeat;
    width: 100%;
    height: max-content;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.homeSpecialStoryContent{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
    padding: 70px;
}

.SpecialStoryheader1{
    font-size: 36px;
    color: #F0C029;
    padding: 20px;
}

.SpecialStoryheader2{
    font-size: 40px;
    font-weight: 700;
    padding: 10px;
    color: #FFFFFF;
}

.SpecialStoryheader3{
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    color: #FFFFFF;
}

.SpecialStoryContent{
    font-size: 15px;
    padding: 10px;
    color: #DFDFDF;
    line-height: 20px;
}